[versions]
kotlin = "1.8.0"
ktfmt = "0.43"
jvmTarget = "11"
lint = "31.0.0"
lint-latest = "31.2.0-alpha01"

[plugins]
detekt = { id = "io.gitlab.arturbosch.detekt", version = "1.22.0" }
dokka = { id = "org.jetbrains.dokka", version = "1.8.10" }
lint = { id = "com.android.lint", version = "8.0.0" }
ksp = { id = "com.google.devtools.ksp", version = "1.8.21-1.0.11" }
mavenPublish = { id = "com.vanniktech.maven.publish", version = "0.25.2" }
spotless = { id = "com.diffplug.spotless", version = "6.18.0" }

[libraries]
autoService-annotations = "com.google.auto.service:auto-service-annotations:1.0.1"
autoService-ksp = "dev.zacsweers.autoservice:auto-service-ksp:1.0.0"
junit = "junit:junit:4.13.2"
ktfmt = { module = "com.facebook:ktfmt", version.ref = "ktfmt" }
lint-api = { module = "com.android.tools.lint:lint-api", version.ref = "lint" }
lint = { module = "com.android.tools.lint:lint", version.ref = "lint-latest" }
lint-tests = { module = "com.android.tools.lint:lint-tests", version.ref = "lint-latest" }
lint-testUtils = { module = "com.android.tools:testutils", version.ref = "lint-latest" }

[bundles]
lintTest = ["lint", "lint-tests", "lint-testUtils"]
